body {
    background: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cover {
    border: 1px solid #666;
    height: 300px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    position: relative;
}

.square,
.circle {
    position: absolute;
    width: 300px;
    height: 300px;
}

.square {
    background: olive;
}

.circle {
    border-radius: 50%;
    background: black;
    z-index: -2;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.inner-circle {
    width: 100px;
    height: 100px;
    margin: 100px;
    text-align: center;
    font-size: 1em;
    padding: 30px 20px;
    border-radius: 50%;
    background: yellow;
    z-index: -1;
    box-sizing: border-box;
}

@keyframes slide {
    from {
        left: 25px;
    }
    to {
        left: 300px;
    }
}
